{% if mainCategory is not defined %}
    {% set mainCategory = false %}
{% endif %}
{% if currentPost is not defined %}
    {% set currentPost = false %}
{% endif %}
{% if currentCompany is not defined %}
    {% set currentCompany = false %}
{% endif %}
{% if entity is not defined %}
    {% set entity = false %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}DveStrahovki.ru{% endblock %}</title>
    <meta name="description" content="{% block description %}DveStrahovki.ru{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}DveStrahovki.ru{% endblock %}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {#<meta content="width=device-width, target-densityDpi=device-dpi" name="viewport"/>#}

    {% block meta %}{% endblock %}
    {% block stylesheets %}{% endblock %}

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/style.css') }}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/font-awesome.min.css') }}">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/pages/blog_magazine.css') }}">

    <!-- CSS Theme -->
    {#<link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.6-production/assets/css/theme-skins/dark.css">#}

    <!-- CSS Customization -->
    {#<link rel="stylesheet" href="http://htmlstream.com/preview/unify-v1.6-production/assets/css/custom.css">#}


    {#<script type="text/javascript" src="{{ asset('bundles/acmemain/js/jquery.min.js') }}"></script>#}

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/acmemain/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/acmemain/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/acmemain/images/apple-touch-icon-114x114.png') }}">
</head>
<body>

<div class="wrapper">
    <!--=== Header v4 ===-->
    <div class="header-v4">
        <!-- Topbar -->
        <div class="topbar-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline top-v1-contacts">
                            <li>
                                <i class="fa fa-envelope"></i> Email: <a href="mailto:info@htmlstream.com">info(@)ekobatarei.ru</a>
                            </li>
                            {#<li>#}
                                {#<i class="fa fa-phone"></i> Hotline: (1) 396 4587 99#}
                            {#</li>#}
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-inline top-v1-data">
                            {#<li><a href="./Unify   Welcome..._files/Unify   Welcome....html"><i class="fa fa-home"></i></a></li>#}
                            {#<li><a href="./Unify   Welcome..._files/Unify   Welcome....html"><i class="fa fa-globe"></i></a></li>#}
                            {#<li><a href="./Unify   Welcome..._files/Unify   Welcome....html"><i class="fa fa-shopping-cart"></i></a></li>#}
                            {#<li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Quicklinks</a></li>#}
                            {#<li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Карта сайта</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        {{ render(controller('AcmeMainBundle:PageLayout:navigate', {
        'main': mainCategory,
        'route_name':  app.request.get('_route')
        })) }}
    </div>
    <!--=== End Header v4 ===-->

    {% block breadcrumbs %}{% endblock %}

    <!--=== Content Part ===-->
    <div class="container content">
    {% block body %}{% endblock %}
    </div><!--/container-->
    <!-- End Content Part -->

    {{ render(controller('AcmeMainBundle:PageLayout:footer', {
    'main': mainCategory,
    'route_name':  app.request.get('_route'),
    'post': currentPost,
    'company': currentCompany,
    })) }}
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/jquery/jquery-migrate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/bootstrap.min.js') }}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/back-to-top.js') }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/custom.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ asset('bundles/acmemain/js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/acmemain/js/plugins/respond.js') }}"></script>
<script src="{{ asset('bundles/acmemain/js/plugins/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/acmemain/js/plugins/placeholder-IE-fixes.js') }}"></script>
<![endif]-->


<div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;"></div>
</body>
</html>
