{% if mainCategory is not defined %}
    {% set mainCategory = false %}
{% endif %}
{% if currentPost is not defined %}
    {% set currentPost = false %}
{% endif %}
{% if currentCompany is not defined %}
    {% set currentCompany = false %}
{% endif %}
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>
        <title>{% block title %}EkoBatarei.com{% endblock %}</title>

        <meta name="description" content="{% block description %}EkoBatarei.com{% endblock %}"/>
        <meta name="keywords" content="{% block keywords %}EkoBatarei.com{% endblock %}"/>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta content="width=device-width, target-densityDpi=device-dpi" name="viewport"/>

        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/acmemain/images/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/acmemain/images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/acmemain/images/apple-touch-icon-114x114.png') }}">

        <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/acmemain/css/font-awesome.min.css') }}" type="text/css" media="screen"/>
        <link rel="stylesheet" href="http://corporate.joostrap.com/templates/corporate-v3-5/css/animate.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="http://corporate.joostrap.com/templates/corporate-v3-5/css/template.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="http://corporate.joostrap.com/templates/corporate-v3-5/css/j-backbone.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="http://corporate.joostrap.com/templates/corporate-v3-5/css/jquery.mmenu.all.css">
        <link rel="stylesheet" href="http://corporate.joostrap.com/templates/corporate-v3-5/css/jquery.mmenu.header.css">

        <script type="text/javascript" src="{{ asset('bundles/acmemain/js/jquery.min.js') }}"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/jquery-noconflict.js" type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/jquery-migrate.min.js" type="text/javascript"></script>



        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300" type="text/css"/>
        <link rel="stylesheet" href="http://corporate.joostrap.com/modules/mod_joostrap_article_carousel/css/style.css"
              type="text/css"/>
        <link rel="stylesheet"
              href="http://corporate.joostrap.com/media/com_uniterevolution2/assets/rs-plugin/css/settings.css"
              type="text/css"/>
        <link rel="stylesheet"
              href="http://corporate.joostrap.com/media/com_uniterevolution2/assets/rs-plugin/css/dynamic-captions.css"
              type="text/css"/>
        <link rel="stylesheet"
              href="http://corporate.joostrap.com/media/com_uniterevolution2/assets/rs-plugin/css/static-captions.css"
              type="text/css"/>
        <style type="text/css">
            .logo a {
                margin-top: 10px;
                margin-bottom: 0px;
            }
            H1, H2, H3, H4, .navbar-brand, #strapline {
                font-family: Lato, sans-serif;
            }
        </style>


        <script src="http://corporate.joostrap.com/media/system/js/caption.js" type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/jui/bootstrap.min.js"
                type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/media/com_uniterevolution2/assets/rs-plugin/js/jquery.themepunch.tools.min.js"
                type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/media/com_uniterevolution2/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"
                type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(window).on('load', function () {
                new JCaption('img.caption');
            });
            jQuery(document).ready(function () {
                jQuery('.hasTooltip').tooltip({"html": true, "container": "body"});
            });
        </script>

        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/bootstrap.min.js"
                type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="/templates/corporate-v3-5/js/html5shiv.js" type="text/javascript"></script>
        <script src="/templates/corporate-v3-5/js/respond.min.js" type="text/javascript"></script>
        <![endif]-->
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/modernizr.custom.js"
                type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/jquery.mmenu.min.js"
                type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/jquery.mmenu.header.min.js"
                type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/template.js" type="text/javascript"></script>
        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/j-backbone.js"
                type="text/javascript"></script>


        <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/scroll-up-bar.min.js"
                type="text/javascript"></script>
    </head>
<body id="main" class="  parentid-101  com_content view-featured frontpage itemid-101 loggedout  no-rtl">
    <div class="wrapper" id="page">

    {{ render(controller('AcmeMainBundle:PageLayout:navigate', {
    'main': mainCategory,
    'route_name':  app.request.get('_route')
    })) }}
    {% block body %}{% endblock %}
    {{ render(controller('AcmeMainBundle:PageLayout:footer', {
        'main': mainCategory,
        'route_name':  app.request.get('_route'),
        'post': currentPost,
        'company': currentCompany,
    })) }}
    <div id="mm-sidebar">
    <div id="panel-overview">
        <div style="text-align: center;">
            <a href="index.html" class="fa fa-home fa-2x"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#page"
                                                                                               class="fa fa-times-circle-o fa-2x"></a>
        </div>

        <ul class="nav menu nav navbar-nav navbar-nav">
            <li class="item-101 current active"><a href="index.html">Home</a></li>
            <li class="item-145 deeper parent dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                           href="features/overview.html">Features <span
                            class="caret"></span></a>
                <ul class="nav-child unstyled small dropdown-menu">
                    <li class="item-115"><a href="features/overview.html">Features Overview</a></li>
                    <li class="item-146"><a href="features/typography.html">Typography</a></li>
                    <li class="item-147"><a href="features/menu-options.html">Menu Options</a></li>
                    <li class="item-148"><a href="features/glyphicons.html">Glyphicons</a></li>
                    <li class="item-149"><a href="features/fontawesome-icons.html">FontAwesome Icons</a></li>
                    <li class="item-150"><a href="features/included-extensions.html">Included Extensions</a></li>
                </ul>
            </li>
            <li class="item-143 deeper parent dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                           href="view/module-positions.html">Layouts <span
                            class="caret"></span></a>
                <ul class="nav-child unstyled small dropdown-menu">
                    <li class="item-116"><a href="view/module-positions.html">Module Positions</a></li>
                    <li class="item-132"><a href="view/portfolio-layout.html">Portfolio Layout</a></li>
                    <li class="item-144"><a href="view/bootstrap-infinite-layout.html">Bootstrap Infinite Layout</a>
                    </li>
                    <li class="item-111"><a href="view/gallery.html">Gallery</a></li>
                </ul>
            </li>
            <li class="item-110"><a href="article.html">Blog View</a></li>
            <li class="item-112 deeper parent dropdown"><a href="contact.html">Contact <span class="caret"></span></a>
                <ul class="nav-child unstyled small dropdown-menu">
                    <li class="item-124"><a href="contact/login.html">Login</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>
    <div>
        <a href="#" class="go-top">
            Go To Top <i class="glyphicon glyphicon-circle-arrow-up"></i>
        </a>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.tooltip').tooltip({
                html: true
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("div#mm-sidebar").mmenu({
                classes: "mm-light",
                offCanvas: {
                    position: "right",
                    zposition: "front"
                },
                header: {
                    title: "Menu",
                    add: true,
                    update: "true"
                }
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#menu').scrollupbar();
        });
    </script>
    <script src="http://corporate.joostrap.com/templates/corporate-v3-5/js/bsUpdate.js" type="text/javascript"></script>




    {% block javascripts %}{% endblock %}

</body>
</html>
