{#<div class="footer-container"><!-- Begin Footer -->#}
    {#<div class="container">#}
        {#<!--noindex-->#}
        {#<div class="row footer-row">#}
            {#<div class="span3 footer-col">#}
                {#<div class="h5">Мы в соц. сетях</div>#}
                {#<img src="{{ asset('bundles/acmemain/images/logoD.png') }}" alt="Logo" /><br /><br />#}
                {#&#123;&#35;<address>&#35;&#125;#}
                    {#&#123;&#35;<strong>Design Team</strong><br />&#35;&#125;#}
                    {#&#123;&#35;123 Main St, Suite 500<br />&#35;&#125;#}
                    {#&#123;&#35;New York, NY 12345<br />&#35;&#125;#}
                {#&#123;&#35;</address>&#35;&#125;#}
                {#<ul class="social-icons">#}
                    {#<li>#}
                        {#<a href="https://www.facebook.com/dvestrahovki" target="_blank" rel="nofollow" class="social-icon facebook"></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="https://twitter.com/dvestrahovki" target="_blank" rel="nofollow" class="social-icon twitter"></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="https://vk.com/dvestrahovki" target="_blank" rel="nofollow" class="social-icon vk"></a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="span3 footer-col">#}
                {#<div class="h5">ТОП компаний</div>#}
                    {#{% for company in companies %}#}
                        {#{% if loop.index < 7  %}#}
                            {#<div style="float: left;margin: 10px;">#}
                                {#<a href="{{ path('client_company_show', {#}
                                {#"country_url": company.city.country.url,#}
                                {#"city_url": company.city.url,#}
                                {#"company_url": company.url#}
                                {#}) }}" rel="nofollow">#}
                                    {#<img src="{{ company.getWebPath() | apply_filter('thumbnail_footer_post') }}" alt="{{ company.getImageAltView() }}" class="img-circle" width="60" height="60"/>#}
                                {#</a>#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
            {#</div>#}
            {#<div class="span3 footer-col">#}
                {#<div class="h5">Рубрики</div>#}
                {#<ul class="post-list">#}
                    {#{% for entity in entities %}#}
                        {#<li>#}
                            {#{% if main == entity.url and route_name == 'client_category_show' %}#}
                                {#<span>{{ entity.name }}</span>#}
                            {#{% else %}#}
                                {#<a rel="nofollow" href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">#}
                                    {#{{ entity.name }}#}
                                {#</a>#}
                            {#{% endif %}#}
                        {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
            {#<div class="span3 footer-col">#}
                {#<div class="h5">Карта картинок</div>#}
                {#<ul class="img-feed">#}
                    {#{% for post in posts %}#}
                        {#<li>#}
                            {#<a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">#}
                                {#<img src="{{ post.getWebPath() | apply_filter('thumbnail_footer_post') }}" alt="{{ post.imageAlt }}" width="60" height="60">#}
                            {#</a>#}
                        {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
        {#<!--/noindex-->#}
        {#<div class="row"><!-- Begin Sub Footer -->#}
            {#<div class="span12 footer-col footer-sub">#}
                {#<div class="row no-margin">#}
                    {#<!--noindex-->#}
                    {#<div class="span6">#}
                        {#<span class="left">© 2001 - {{ "now"|date('Y') }} Все права защищены</span>#}
                    {#</div>#}
                    {#<!--/noindex-->#}
                    {#<div class="span6">#}
                        {#<span class="right">#}
                            {#<!--noindex-->#}
                            {#{% if route_name != 'page_home' %}#}
                            {#<a rel="nofollow" href="{{ path('page_home') }}">Главная</a>#}
                            {#&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#}
                            {#{% endif %}#}
                            {#{% if route_name != 'page_catalog' %}#}
                            {#<a rel="nofollow" href="{{ path('page_catalog') }}">Каталог</a>#}
                            {#&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#}
                            {#{% endif %}#}
                            {#{% if route_name != 'page_contact' %}#}
                            {#<a rel="nofollow" href="{{ path('page_contact') }}">Контакты</a>#}
                            {#&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#}
                            {#{% endif %}#}
                            {#{% if route_name != 'page_advertising' %}#}
                            {#<a rel="nofollow" href="{{ path('page_advertising') }}">Реклама на сайте</a>#}
                            {#&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#}
                            {#{% endif %}#}
                            {#<!--/noindex-->#}
                            {#<a href="{{ path('page_sitemap') }}">Карта сайта</a>#}
                        {#</span>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div><!-- End Sub Footer -->#}
    {#</div>#}
{#</div><!-- End Footer -->#}
<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="http://htmlstream.com/preview/unify-v1.6-production/index.html"><img id="logo-footer" class="footer-logo" src="./Unify   Welcome..._files/logo2-default.png" alt=""></a>
                    <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                    <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
                </div><!--/col-md-3-->
                <!-- End About -->

                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Latest Posts</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li>
                                <a href="./Unify   Welcome..._files/Unify   Welcome....html">Incredible content</a>
                                <small>May 8, 2014</small>
                            </li>
                            <li>
                                <a href="./Unify   Welcome..._files/Unify   Welcome....html">Best shoots</a>
                                <small>June 23, 2014</small>
                            </li>
                            <li>
                                <a href="./Unify   Welcome..._files/Unify   Welcome....html">New Terms and Conditions</a>
                                <small>September 15, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="./Unify   Welcome..._files/Unify   Welcome....html">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Community</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="./Unify   Welcome..._files/Unify   Welcome....html">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        25, Lorem Lis Street, Orange <br>
                        California, US <br>
                        Phone: 800 123 3456 <br>
                        Fax: 800 123 3456 <br>
                        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2014 © All Rights Reserved.
                        <a href="./Unify   Welcome..._files/Unify   Welcome....html">Privacy Policy</a> | <a href="./Unify   Welcome..._files/Unify   Welcome....html">Terms of Service</a>
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="./Unify   Welcome..._files/Unify   Welcome....html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->