<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                {#<!-- About -->#}
                {#<div class="col-md-3 md-margin-bottom-40">#}
                    {#<ul class="img-feed">#}
                        {#{% for post in posts %}#}
                            {#<li>#}
                                {#<a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">#}
                                    {#<img src="{{ post.getWebPath() | apply_filter('thumbnail_footer_post') }}" alt="{{ post.imageAlt }}" width="60" height="60">#}
                                {#</a>#}
                            {#</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#</div><!--/col-md-3-->#}
                {#<!-- End About -->#}

                <!--noindex-->
                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Доп. страницы</h2></div>
                        <ul class="list-unstyled latest-list">
                            {% if route_name != 'page_home' %}
                                <li>
                                    <a rel="nofollow" href="{{ path('page_home') }}">Главная</a>
                                </li>
                            {% endif %}
                            {#{% if route_name != 'page_catalog' %}#}
                                {#<li>#}
                                    {#<a rel="nofollow" href="{{ path('page_catalog') }}">Каталог</a>#}
                                {#</li>#}
                            {#{% endif %}#}
                            {% if route_name != 'page_contact' %}
                                <li>
                                    <a rel="nofollow" href="{{ path('page_contact') }}">Контакты</a>
                                </li>
                            {% endif %}
                            {% if route_name != 'page_advertising' %}
                                <li>
                                    <a rel="nofollow" href="{{ path('page_advertising') }}">Реклама на сайте</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('page_sitemap') }}">Карта сайта</a>
                            </li>
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->
                <!--/noindex-->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Рубрики</h2></div>
                    <ul class="list-unstyled link-list">
                        {% for entity in entities %}
                            <li>
                                {% if main == entity.url and route_name == 'client_category_show' %}
                                    <a>{{ entity.name }}</a>
                                {% else %}
                                    <a rel="nofollow" href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">
                                        {{ entity.name }}
                                    </a>
                                {% endif %}
                                <i class="fa fa-angle-right"></i>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Контакты</h2></div>
                    <address class="md-margin-bottom-40">
                        Email: <a href="mailto:info(@)ekobatarei.ru" class="">info(@)ekobatarei.ru</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2001 - {{ "now"|date('Y') }} Все права защищены</p>
                </div>
                <!--noindex-->
                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="https://www.facebook.com/ekobatarei.ru" rel="nofollow" class="tooltips"
                               data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"
                                    target="_blank"
                                    >
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ekobatarei" rel="nofollow" class="tooltips"
                               data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"
                               target="_blank"
                                    >
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/ekobatarei" rel="nofollow" class="tooltips"
                               data-toggle="tooltip" data-placement="top" title="" data-original-title="Vkontakte"
                               target="_blank"
                                    >
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
                <!--/noindex-->
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->