<header class="main-header" style="margin-bottom:75px;">
    <nav id="menu" class="navbar-default navbar-fixed-top   clearfix" role="navigation">
        <div class="container">
            <div class="logo">
                <a href="{{ path('page_home') }}" class="navbar-brand">Corporate<span class="site-description">Professional Joomla Template</span></a>
            </div>
            <div class="navbar-collapse collapse navbar-right">

                <ul class="nav menu nav navbar-nav navbar-nav">
                    <li class="item-101 {% if route_name == 'page_home' %} current active {% endif %}">
                        {% if route_name == 'page_home' %}
                                <a href="{{ path('page_home') }}">Home</a>
                        {% else %}
                            <a href="{{ path('page_home') }}">
                                Home
                            </a>
                        {% endif %}
                    </li>
                    <li {% if route_name == 'page_catalog' or route_name == 'client_company_show' %} class="item-101 current active" {% endif %}>
                        {% if route_name == 'page_catalog' %}
                            <span>Каталог</span>
                        {% else %}
                            <a href="{{ path('page_catalog') }}">Каталог</a>
                        {% endif %}
                    </li>
                    {% for entity in entities %}
                        <li {% if main == entity.url %} class="item-101 current active" {% endif %}>
                            {% if main == entity.url and route_name == 'client_category_show' %}
                                <span>{{ entity.name }}</span>
                            {% else %}
                                <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#mm-sidebar">
                <div type="button" class="navbar-toggle navbar-btn pull-right visible-xs">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </a>
        </div>
    </nav>
</header>