{% extends '::base.html.twig' %}

{% block title %}Солнечные Батареи всегда помогут вам с дешёвой энергией.{% endblock %}
{% block description %}Батареи, модули, панели и другие солнечные устройства для получения дешевой энергии{% endblock %}
{% block meta %}
    {#<meta name='yandex-verification' content='701c161c095f9a74' />#}
    {#<meta name="google-site-verification" content="vBnA1AXjmHnpGFFpV8kJWL9PSL0SLtnhVUxGIlECIQE" />#}
{% endblock %}
{% block javascripts %}{% endblock %}
{% if entity is not defined %}
    {% set entity = false %}
{% endif %}
{% block body %}
    <div class="row magazine-page">
        <!-- Begin Content -->
        <div class="col-md-9">
            <!-- Magazine Slider -->
            <div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="http://htmlstream.com/preview/unify-v1.6-production/assets/img/posts/2.jpg">
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="http://htmlstream.com/preview/unify-v1.6-production/assets/img/posts/1.jpg">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="http://htmlstream.com/preview/unify-v1.6-production/assets/img/posts/3.jpg">
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="http://htmlstream.com/preview/unify-v1.6-production/page_home6.html#myCarousel-1" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="http://htmlstream.com/preview/unify-v1.6-production/page_home6.html#myCarousel-1" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- End Magazine Slider -->

            <!-- Magazine News -->
            <div class="magazine-news">
                <div class="row">
                    {% for post in entities %}
                        {% if loop.index < 3 %}
                            {% set color = 'red' %}
                            {% if loop.index == 1 %}
                                {% set color = 'blue' %}
                            {% endif %}
                            <div class="col-md-6">
                                <div class="magazine-news-img">
                                    {% if post.getWebPath() | length > 1 %}
                                        <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                            <img class="img-responsive" src="{{ post.getWebPath() | apply_filter('thumbnail_index_post') }}" alt="">
                                        </a>
                                    {% endif %}
                                    <span class="magazine-badge label-{{ color }}">{{ post.category.name }}</span>
                                </div>
                                <h3><a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a></h3>
                                <p>{{ post.getPreviewText() }} ...</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="margin-bottom-35"><hr class="hr-md"></div>
                </div>
            </div>
            <!-- End Magazine News -->

            <!-- Magazine News -->
            <div class="magazine-news">
                <div class="row">
                    {% for post in entities %}
                        {% if loop.index < 5 and loop.index > 2 %}
                            {% set color = 'yellow' %}
                            {% if loop.index == 3 %}
                                {% set color = 'green' %}
                            {% endif %}
                            <div class="col-md-6">
                                <div class="magazine-news-img">
                                    {% if post.getWebPath() | length > 1 %}
                                        <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                            <img class="img-responsive" src="{{ post.getWebPath() | apply_filter('thumbnail_index_post') }}" alt="">
                                        </a>
                                    {% endif %}
                                    <span class="magazine-badge label-{{ color }}">{{ post.category.name }}</span>
                                </div>
                                <h3><a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a></h3>
                                <p>{{ post.getPreviewText() }} ...</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="margin-bottom-35"><hr class="hr-md"></div>
                </div>
            </div>
            <!-- End Magazine News -->

            <!-- Magazine News -->
            <div class="magazine-news">
                <div class="row">
                    {% for post in entities %}
                        {% if loop.index < 7 and loop.index > 4 %}
                            {% set color = 'purple' %}
                            {% if loop.index == 5 %}
                                {% set color = 'dark-blue' %}
                            {% endif %}
                            <div class="col-md-6">
                                <div class="magazine-news-img">
                                    {% if post.getWebPath() | length > 1 %}
                                        <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                            <img class="img-responsive" src="{{ post.getWebPath() | apply_filter('thumbnail_index_post') }}" alt="">
                                        </a>
                                    {% endif %}
                                    <span class="magazine-badge label-{{ color }}">{{ post.category.name }}</span>
                                </div>
                                <h3><a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a></h3>
                                <p>{{ post.getPreviewText() }} ...</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- End Magazine News -->
            <div class="row" id="about">
                <div class="span12">
                    <hr/>
                    <h1>О проекте</h1>
                    <p>“EkoBatarei.ru”- Проект создан для того что б показать людям что можно и нужно и как использовать всем нам доступные солнечные ресурсы для получения дешёвой электроэнергии не убиваю нашу землю.</p>
                    <p>Задача проекта раскрыть все пункты тонкости по работе с солнечными батареями.<br>
                        Он поможет вам разобраться от А до Я в этих, можно сказать новых, технологиях.<br>
                        Знаете вы как производят данные пластины? Или может вам надо знать в чем преимущество тех или иных видов батарей.</p>
                    <p>Солнечная батарея — несколько объединённых фотоэлектрических преобразователей — полупроводниковых устройств, прямо преобразующих солнечную энергию в постоянный электрический ток. Хотя на первый взгляд он может и показаться слабым, но в больших производственных объёмах он вполне достаточен для нашей жизни. С целью получения требуемой мощности и рабочего напряжения модули соединяют последовательно или параллельно.</p>
                    <p>В большинстве случаев при использование солнечных батарей используют электро-аккумуляторы которые накапливают необходимый заряд электричества для дальнейшей работы электро приборов, например в доме. При разных потребностях и объёмах используют другие виды накопления энергии.</p>
                </div>
            </div>
        </div>
        <!-- End Content -->

        <!-- Right Sidebar -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': entity
        })) }}
        <!-- End Right Sidebar -->
    </div>
{% endblock %}